/*Textbox START*/
  .entry {
    height: 30%;
    position: relative;
    border: 1px solid #909092;
    border-radius: 8px;
    padding: 2% 3%;
    /* margin-bottom: 15px; */
    background: #f9f9fb;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

  .input {
    width: 100%;
    padding-top: 10px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: transparent;
    outline: 2px solid #fff;
  }

  .entry-label {
    position: absolute;
    left: 11.5px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform .25s;
    font-size: 1.1rem;
    color: grey;
  }
  .entry-label.active, .input:focus+.entry-label{
    transform: translateY(-50%) scale(.7);
    transform-origin: left;
    top: 25%;
    text-align: left;
  }

  .input:is(:focus, :valid) {
    outline-color: #d1c5fc;
  }
  
  .entry:focus-within {
    border-color: #007aff;
    box-shadow: 0 0 5px rgba(0, 122, 255, 0.5);
  }
  
  .entry input {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    color: #1d1d1f;
  }
  
  .entry input::placeholder {
    color: #86868b;
  }
  /*Textbox END*/